#if HEIGHT == 2160
Xft.dpi: 160
Xcursor.size: 48
#else
Xft.dpi: 107
#endif

emacs.font: Iosevka-13.5
emacs.cursorBlink: false
emacs.scrollBarWidth: 20
emacs.background: #424242
emacs.foreground: #E0E0E0
