@import url("file:///home/lupan/.config/waybar/dark.css");

* {
    font-family: Fira Code Nerd Font;
    font-size: 12px;
}

#workspaces {
    padding: 0 0.5rem;
}

#workspaces button {
    padding: 0 3px;
    border-radius: 0;
    border-bottom: 3px solid transparent;
}

#window {
    border-bottom: 3px solid transparent;
}

#clock {
    padding: 0 0.5rem;
    border-bottom: 3px solid transparent;
}
