* {
    font-family: GoMono Nerd Font;
    font-size: 14;
    background-color: #263c59;
    color: #7b899d;
}

#workspaces {
    padding: 0 1rem;
}

#workspaces button {
    padding: 0 3px;
    border-radius: 0;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    border-bottom: 3px solid #7b899d;
}

#workspaces button.urgent {
    border-bottom: 3px solid #a65959;
}

#window {
    border-bottom: 3px solid transparent;
}

#clock {
    padding: 0 1rem;
    border-bottom: 3px solid transparent;
}
